html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #id1 {
		display: table-cell;
		padding: 10px;
		border: 1px;
		border-color: green;
		border-style: solid;
      }
