

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        padding: 10px;
        width: 400px;
        height: 300px;
        border: 10px solid;
		border-image: url(border.png) 30 round;
      }
      #id1 {
		display: table-cell;
		padding: 10px;
      }
      input.ng-invalid
      {
      	background-color: red;
      }
